section {
    display: block;
    height: 1200px;
}

#joinTitle {
    display: block;
    text-align: center;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 50px;
}

#joinTitle p {
    display: block;
    margin-top: 0px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#joinTitle span {
    display: block;
    margin-top: 30px;
}

#joinIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

#joinIcon svg {
    width: 100px;
    height: 100px;
}

#joinIcon span {
    margin-top: auto;
    margin-bottom: auto;
}

#joinIcon hr {
    border: 0px;
    border-top: 5px dotted;
    width: 100px;
}

#join_chk {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#join_chk_left, #join_chk_right{
    display: block;
    width: 48%;
}

#join_chk_left span, #join_chk_right span{
    display: block;
    font-size: 30px;
    height: 9%;
    padding-top: 10px;
    font-weight: bolder;
}

.join_chk_box {
    display: block;
    height: 10%;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(58, 58, 58);
}

#wr {
    display: block;
    border: 1px solid rgb(58, 58, 58);
    height: 80%;
    overflow-y: auto;
}

#wr span{
    display: block;
    font-size: 18px;
    padding: 15px 15px 15px;
    font-size: 15px;
    font-weight: normal;
    color: rgb(58, 58, 58);
}

.radio {
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

#step {
    display: block;
    height: 100px;
    text-align: center;
    margin-top: 80px;
}

#stepBtn {
   width: 200px;
   height: 80px;
   font-size: 30px;
   background-color: transparent;
   font-weight: bolder;
   margin-top: 5px;
   border: 5px solid;
}