nav .menu:nth-child(5) {
    color: rgb(235, 146, 28);
    font-weight: bolder;
}

nav .menu {
    color: black;
    font-weight: normal;
}

section {
    display: block;
    height: 1500px;
}

#adoptAll {
    display: block;
    height: 80%;
    width: 90%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

#adopt_title {
    display: block;
    height: 10%;
    text-align: center;
    font-weight: bolder;
}

#adopt_title span {
    display: block;
    margin-top: 4%;
}

#adopt_title p {
    display: block;
    font-size: 50px;
    margin-top: 0px;
}

#adoptAll table {
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#adoptAll span {
    color: red;
}

#adoptAll th {
    text-align: left;
}

#adoptAll th, #adoptAll td {
    width: 15%;
}

#adoptAll td {
    width: 15%;
}

#tablefoot {
    text-align: center;
}

.text {
    width: 99%;
}

.address {
    width: 96%;
}

#addressBtn {
    width: 100%;
    background-color: transparent;
    border: 2px solid;
    height: 80%;
}

.text, .address {
    border: 0px;
    border-bottom: 1px solid;
    height: 70%;
}

#animal {
    display: block;
    width: 100%;
}

#date {
    width: 99%;
    height: 80%;
}

textarea {
    width: 99%;
    height: 80%;
    resize: none;
}

#hand_in {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bolder;
    border: 2px solid;
}